html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

button {
  margin: 6px 6px 6px 0;
  padding: 4px;
  font-size: 14px;
}
video {
  width: 300;
  height: 300;
}
p {
  font-size: 16px;
  margin: 0 0 1em 0;
  padding: 0;
}